#login_btn {
	display: inline-block;
}

#login {
	display: inline-block;
}

.login {
	width: 100%;
	margin-bottom: 10px;
}

#login_btn {
	width: 60%;
	text-align: center;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.form-row label {
  width: 140px; /* ←ここでラベル幅を統一！ */
  display: inline-block;
  text-align: right; /* 右寄せにすると見た目が整う */
  margin-right: 10px;
}

.form-row input {
  flex: 1;
}

